<a href="https://colab.research.google.com/github/enyeneraph/Hamoye_Internship/blob/main/Hamoye_stageA_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
dataset = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv', error_bad_lines = False)

In [ ]:
a= np.identity(3)

In [ ]:
a

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [ ]:
dataset.columns

Index(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

In [ ]:
# Which of the following fuel type code has the lowest average fuel cost per unit burned?


dataset.groupby(['fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [ ]:
# What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?


dataset['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [ ]:
# What is the skewness and kurtosis for the fuel quantity burned in two decimal places?



dataset['fuel_qty_burned'].kurtosis()

651.3694501337732

In [ ]:


dataset['fuel_qty_burned'].skew()

15.851495469109503

In [ ]:
dataset.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [ ]:

dataset.groupby(['report_year'])['fuel_cost_per_unit_delivered'].mean()

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

In [ ]:
dataset.groupby(['report_year'])

In [ ]:
dataset.groupby(['fuel_type_code_pudl'])[]

KeyError: ignored

In [ ]:
dataset.isnull()

       record_id  ...  fuel_cost_per_mmbtu
0          False  ...                False
1          False  ...                False
2          False  ...                False
3          False  ...                False
4          False  ...                False
...          ...  ...                  ...
29518      False  ...                False
29519      False  ...                False
29520      False  ...                False
29521      False  ...                False
29522      False  ...                False

[29523 rows x 11 columns]

In [ ]:
# Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places?


ar = []

In [ ]:
for i in dataset.columns:
  if any(dataset[i].isnull()):
    ar.append(i)
print(ar)

['fuel_unit']

In [ ]:
dataset.fuel_unit.isnull().sum()

180

In [ ]:
dataset.count()

record_id                       29523
utility_id_ferc1                29523
report_year                     29523
plant_name_ferc1                29523
fuel_type_code_pudl             29523
fuel_unit                       29343
fuel_qty_burned                 29523
fuel_mmbtu_per_unit             29523
fuel_cost_per_unit_burned       29523
fuel_cost_per_unit_delivered    29523
fuel_cost_per_mmbtu             29523
dtype: int64

In [ ]:
dataset[dataset['fuel_type_code_pudl'] == 'coal'].groupby(['report_year']).mean()

             utility_id_ferc1  ...  fuel_cost_per_mmbtu
report_year                    ...
1994               106.168421  ...             1.436099
1995               107.854737  ...             1.397351
1996               106.078886  ...             1.349366
1997               106.124700  ...             1.322989
1998               107.663573  ...             1.292496
1999               106.178824  ...             1.272911
2000               109.853598  ...             1.256368
2001               110.831956  ...             1.308491
2002               116.240964  ...             1.332558
2003               118.164134  ...             1.336273
2004               118.776398  ...             1.414171
2005               117.046296  ...             1.611024
2006               114.785933  ...             1.774404
2007               113.466667  ...             1.845993
2008               119.524845  ...             2.122986
2009               117.564263  ...             2.314034
2010               116.699367  ...             2.336855
2011               122.467492  ...             2.515659
2012               120.651376  ...             2.586840
2013               121.121875  ...             2.640654
2014               135.952542  ...             2.556687
2015               125.324627  ...             2.498701
2016               127.485356  ...             2.391478
2017               130.022422  ...             2.341723
2018               134.018957  ...             2.305667

[25 rows x 6 columns]

In [ ]:
# Which year has the highest average fuel cost per unit delivered?

dataset.groupby(['report_year'])['fuel_cost_per_unit_delivered'].mean().idxmax()

1997