# **Stage B quiz answers/codes**

### **Question 1**

In [51]:
#Q: In linear regression, L2 regularization is equivalent to imposing a:

#A: Gaussian prior

### **Question 2**

In [43]:
# Q: Cross validation

#A : Is guaranteed to prevent overfitting and Is often used to select hyperparameters

### **Question 3**

In [5]:
#Q: Ridge regression:

#A: Reduces variance at the expense of higher bias

### **Question 4**

In [5]:
#Q: In the different terms of the bias-variance tradeoff, which of the following is substantially more harmful to the test error than the training error?

#A: Variance

### **Question 5**

In [45]:
#Q: What can you use to find the best fit line for data in Linear Regression

#A: Least Square Error

### **Question 6**

In [46]:
#Q: Which of the following sentence is true about outliers in Linear Regression:

#A: Linear regression is sensitive to outliers

### **Question 7**

In [ ]:
#Q: How many coefficients do you need to estimate a simple linear regression model (One independent variable)?

#A: 2

### **Question 8**

In [47]:
#Q: Adding more basis functions in a linear model:

#A: Decreases model bias

### **Question 9**

In [5]:
#Q:A best fit line relating X and Y has a R-Squared value of 0.75. How do I interpret this information?

#A: The model is performing with 75% accuracy

### **Question 10**

In [48]:
#Q: The Lasso can be interpreted as least-squares linear regression where:

#A: Weights are regularized with the L1 norm

### **Question 11**

In [49]:
#Q: Which of these is not an assumption of Linear Regression?

#A: Heteroscedasticity

### **Preprocessing**

In [6]:
#Importing the necessary libraries
%matplotlib inline

import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import MinMaxScaler

In [7]:
#Reading the dataset
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')

In [8]:
#Dropping columns dates and lights
df = df.drop(['date', 'lights'], axis= 1)

#normalizing the dataset
scaler = MinMaxScaler()
normalized_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

df.head()

   Appliances     T1       RH_1  ...  Tdewpoint        rv1        rv2
0          60  19.89  47.596667  ...        5.3  13.275433  13.275433
1          60  19.89  46.693333  ...        5.2  18.606195  18.606195
2          50  19.89  46.300000  ...        5.1  28.642668  28.642668
3          50  19.89  46.066667  ...        5.0  45.410389  45.410389
4          60  19.89  46.333333  ...        4.9  10.084097  10.084097

[5 rows x 27 columns]

In [9]:
normalized_df.head()

   Appliances       T1      RH_1  ...  Tdewpoint       rv1       rv2
0    0.046729  0.32735  0.566187  ...   0.538462  0.265449  0.265449
1    0.046729  0.32735  0.541326  ...   0.533937  0.372083  0.372083
2    0.037383  0.32735  0.530502  ...   0.529412  0.572848  0.572848
3    0.037383  0.32735  0.524080  ...   0.524887  0.908261  0.908261
4    0.046729  0.32735  0.531419  ...   0.520362  0.201611  0.201611

[5 rows x 27 columns]

### **Question 12**

In [39]:
#Q: From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two D.P?

#selecting the predictors
features_df = normalized_df['T2'].values
features_df = features_df.reshape(-1,1)


#selecing the target variable
target_df = normalized_df['T6'].values
target_df = target_df.reshape(-1, 1)

#Splitting into train and test set
x_train, x_test, y_train, y_test = train_test_split(features_df, target_df, test_size = 0.3, random_state = 42)

In [40]:
#fitting a linear model between temperature in the living room and temperature outside the building
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
predict_y = linear_model.predict(x_test)

In [55]:
#Calculating the r2_coeffiecients
r_score = r2_score(y_test, predict_y)
print(round(r_score, 2))

0.64

**Ans: 0.64**

### **Predicting the Appliance energy**

In [58]:
#extracting the features
features_df = normalized_df.drop('Appliances', axis= 1)

#extracting the target values
target_df = normalized_df['Appliances']

In [59]:
#Splitting into training and testing data
x_train, x_test, y_train, y_test = train_test_split(features_df, target_df, test_size= 0.3, random_state= 42)

In [60]:
#defining the model and fitting it to the train data

LR = LinearRegression()
LR.fit(x_train, y_train)
predicted_y = LR.predict(x_test)

### **Question 13**

In [61]:
#Calculating the mean absolute error
mae = mean_absolute_error(y_test, predicted_y)
print(round(mae, 2))

0.05

**Answer: 0.05**

### **Question 14**

In [62]:
#calculating residual sum of squares to 2DP
rss = np.sum(np.square(y_test - predicted_y))
round(rss,2)

45.35

**Answer: 45.35**

### **Question 15**

In [67]:
#Calculating the root mean squared error to 3DP
rmse = round(np.sqrt(mse), 3)

**Answer: 0.088**

### **Question 16**

In [69]:
#Calculating the Coeffiecient of Determination in 2DP
r_score = round(r2_score(y_test, predicted_y), 2)
print(r_score)

0.15

**Answer: 0.15**

### **Question 17**

In [64]:
#Q: Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?



#defining the get_weight function

def get_weight(model, feature, col_name):
  weights = pd.Series(model.coef_, feature.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

linear_model_weight = get_weight(LR, x_train, 'linear_model_weight').set_index('Features')

In [65]:
linear_model_weight.sort_values(by= 'linear_model_weight')

             linear_model_weight
Features
RH_2                   -0.456698
T_out                  -0.321860
T2                     -0.236178
T9                     -0.189941
RH_8                   -0.157595
RH_out                 -0.077671
RH_7                   -0.044614
RH_9                   -0.039800
T5                     -0.015657
T1                     -0.003281
rv1                     0.000770
rv2                     0.000770
Press_mm_hg             0.006839
T7                      0.010319
Visibility              0.012307
RH_5                    0.016006
RH_4                    0.026386
T4                      0.028981
Windspeed               0.029183
RH_6                    0.038049
RH_3                    0.096048
T8                      0.101995
Tdewpoint               0.117758
T6                      0.236425
T3                      0.290627
RH_1                    0.553547

From the table above, we see that RH_2 and RH_1 are the smallest and largest weights respectively

**Answer = RH_2, RH_1**

### **Question 18**

In [73]:
#Q: Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

#training a regression model
ridge = Ridge(alpha= 0.4)
ridge.fit(x_train, y_train)

ridge_y = ridge.predict(x_test)

#Calculating the root mean squared error
#Calculating mse first
ridge_mse = mean_squared_error(y_test, ridge_y)

ridge_rmse = round(np.sqrt(ridge_mse), 3)

#comparing with root_mean_squared_error calculated earlier
#prints True if ridge_rmse is the same as rmse
print(rmse == ridge_rmse)

True

We can see from here that the root mean squared error does not change

**Answer: No**

### **Question 19**

In [76]:
#Q:Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?



#training the lasso weights
lasso = Lasso(alpha= 0.001)
lasso.fit(x_train, y_train)

lasso_weights = get_weight(lasso, x_train, 'Lasso_weight_model').set_index('Features')
print(lasso_weights)

#counting the number of non-zero weights
len(lasso_weights[lasso_weights['Lasso_weight_model'] != 0])

             Lasso_weight_model
Features
RH_out                -0.049557
RH_8                  -0.000110
T1                     0.000000
Tdewpoint              0.000000
Visibility             0.000000
Press_mm_hg           -0.000000
T_out                  0.000000
RH_9                  -0.000000
T9                    -0.000000
T8                     0.000000
RH_7                  -0.000000
rv1                   -0.000000
T7                    -0.000000
T6                     0.000000
RH_5                   0.000000
T5                    -0.000000
RH_4                   0.000000
T4                    -0.000000
RH_3                   0.000000
T3                     0.000000
RH_2                  -0.000000
T2                     0.000000
RH_6                  -0.000000
rv2                   -0.000000
Windspeed              0.002912
RH_1                   0.017880

4

**Answer: 4**

### **Question 20**

In [34]:
#Q: What is the new RMSE with the Lasso Regression (in 3 decimal places)?

#obtaining the new rmse for lasso_regression
lasso_y = lasso.predict(x_test)

#Calculating the root mean squared error

#Calculating mse first
lasso_mse = mean_squared_error(y_test, lasso_y)

lasso_rmse = np.sqrt(lasso_mse)
print(round(lasso_rmse, 3))

0.094

**Answer: 0.094**